apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kv-secrets
  namespace: default
spec:
  provider: azure
  secretObjects:
  - secretName: db-password
    type: Opaque
    data:
      - objectName: db-password
        key: password
  parameters:
    usePodIdentity: "false"
    keyvaultName: kvaksdemo
    tenantId: <replace-with-your-tenant-id>
    cloudName: ""
    objects: |
      array:
        - |
          objectName: db-password
          objectType: secret
